<div class="container">
  <h1 class="home-title">Uix Validations</h1>
  <div class="home-form">
    <%= form_for '', url: root_path, html: { :method => 'GET' } do |f| %>
    

      <div class="input">
        <%= f.label 'Validate Number' %><br>
        <%= f.text_field :title, class: 'input-text', id: 'input-num' %>
        <div class="uix-validation size" id="vali1">
          Should have only numbers
        </div>
      </div>
      <div class="input">
        <%= f.label 'Email' %><br>
        <%= f.text_field :title, class: 'input-text', id: 'input-email' %>
        <div class="uix-validation size" id="vali2">
          Should be a valid email, ex: <i>username@email.com<i>
        </div>
      </div>

      <div class="btn-submit">
        <%= f.submit 'Submit', class: 'form-btn' %>
      </div>
    <% end %>
  </div>
</div>


<script>
  validateNumber("#input-num", "#vali1");
  validateEmail("#input-email", "#vali2");
</script>